.profile-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background: #fff;
  padding: 2rem;
  width: 380px;
  border-radius: 16px;
  text-align: center;
}

.profile-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.upload-box {
  display: block;
  border: 2px dashed #ccc;
  padding: 15px;
  cursor: pointer;
  margin: 10px 0;
}

.preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  object-fit: cover;
}

.hidden {
  display: none;
}
