#flashcard {
    perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.4, 0.2, 0.2, 1);
}

/* FLIPPED STATE */
.card-inner.flipped {
  transform: rotateY(180deg);
}


.card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    
}

.card-face.front {
    background: #3b82f6;
    color: white;
}

.card-face.back {
    background: #020617;
    color: white;
    transform: rotateY(180deg);
}