/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px solid #e5e7eb;
    background-color: #ffffff;
}

.logo {
    font-weight: 600;
    font-size: 18px
}

.user-name {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.nav-links a {
    margin-left: 18px;
    color: #374151;
    text-decoration: none
}

.nav-actions {
    display: flex;
    gap: 10px;
}

.btn.danger {
    background: #e74c3c;
    color: white;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 8px
}

.hidden {
    display: none;
}